@import "base/variables";
* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/main-slider";
@import "blocks/prengi";
@import "blocks/provides-slider";
@import "blocks/provides";
@import "blocks/title";
@import "blocks/hamburger";
@import "blocks/advantages";
@import "blocks/deployment";
@import "blocks/media";