.footer {
    padding: 50px 0 40px 0;
    min-height: 497px;
    background-color:#0082a1;
    &__wrapper { 
       display: flex;
    }  
    &__company {
        display: flex;
        flex-direction: column;
        width: 377px;
        margin-right:  113px;
        img {
            margin-top: 20px;
            width: 177px;
            height: 61px;
        }
    }
    &__modul {
        display: flex;
        flex-direction: column;
        width: 268px;
        margin-right: 72px;      
    }
    &__industry {
        display: flex;
        flex-direction: column;
        width: 130px;       
        margin-right: 81px;       
      
    }
    &__title {       
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;  
        font-weight: 700;
        color: #ffffff;
    }
    &__about {
        display: flex;
        flex-direction: column;                   
       
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;  
        line-height: 19px;
    }
    ul {
        padding: 0px;

        li {
            list-style-type: none;
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            line-height: 19px;
        }
    }
    &__line {
        margin: 45px 0  0 0;
        height: 2px;
        width: 1170px;
        background-color: #ffffff;
    }
    &__copy { 
        text-align: center;      
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
        margin-top: 35px;
    }
    .row1{
        display: flex;

    }
    .row2 {
        display: flex;
    } 
}